TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
KEYWORDS=aplicativo,app
EXCLUDE_KEYWORDS=jogo,game,manutenção,wordpress,no code,low code
GITHUB_TOKEN=
CLAUDE_CODE_OAUTH_TOKEN=
PROMPT_KEY=
PRICE_HOURLY_RATE=
PRICE_MIN_PROJECT=
